/* Style1.css */
table{
    width:60%;
    margin: 0 auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}
th, td{
    width: 25%;
    border: 1px solid #000000;
    padding: 8px;
}
h1{
    margin: auto;
    text-align: center;
    text-decoration: underline;
    background-color: #ffffff;
    max-width: fit-content;
    max-height: fit-content;
}
p{
    width: 20%;
    margin: auto;
    text-align: center;
    border: 2px solid #000000;
    background-color: #ffffff;
    max-height: fit-content;
}
body{
    background-image: url(Asim_Logo.jpg), url(BackGround.jpg);
    background-position: bottom right, top left;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, fixed;
}